* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 60px 0 20px 0;
    background-color: #EFEFEF;
    font-size: 1.6rem;
    font-weight: 300;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #353535;
}

.container {
    margin: 0 auto;
    padding: 0 1.0rem;
    max-width: 101.0rem;
}


nav {
    z-index: 1001;
    position: fixed;
    right: 0;
    left: 0;
    border-style: solid;
    border-width: 0 0.1rem 0 0;
    border-color: #202020;
    background-color: #203949;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav.top {
    top: 0;
    height: 5.0rem;
    font-size: 2.5rem;
    color: #A6A6A6;
}

nav.top ul {
    margin: 0;
}

nav.top li {
    display: block;
    float: left;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

nav.top .menu {
    display: inline-table;
    font-size: 1.6rem;
    color: #DFDFDF;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    padding-left: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

nav.top .menu span {
    display: table-cell;
    vertical-align: middle;
}

nav.top .menu i {
    font-size: 3.0rem;
    margin-left: -0.5rem;
}

nav.top .logo {
    font-size: 3.6rem;
    /* Hack to vertical center text */
    margin-top: -0.2rem;
}

nav.top .logo a {
    font-family: "Alegreya SC", Cambria, serif;
    font-weight: bold;
    color: #DFDFDF;
}

nav.top .user {
    float: right;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.6rem;
}

nav.top .user a {
    color: #DFDFDF;
}

nav.top .menu:hover, nav.top a:hover {
    color: #BDBDBD;
}

nav.sidebar {
    height: 100%;
    width: 20.0rem;
    top: 5.0rem;
    transition: left 0.3s;
    transition-timing-function: ease;
    visibility: visible;
    overflow-y: auto;
}

nav.closed {
    left: -20.0rem;
    visibility: hidden;
    transition: visibility 0.1s 2s, left 0.3s;
    transition-timing-function: ease-in-out;
}

nav.sidebar li {
    font-size: 1.5rem;
}

nav.sidebar ul {
    margin: 0 0 1.0rem 0;
}

nav.sidebar ul ul {
    padding-left: 2.0rem;
}

nav.sidebar li.active a {
    box-shadow: inset 0 -0.2rem 0 #6497BD;
    background-color: #FFF;
    font-weight: bold;
}

nav.sidebar li > a, nav.sidebar li > span {
    display: block;
    position: relative;
    padding: 0.7rem;
    background-color: #EDEDED;
    color: #353535;
    text-decoration: none;
    border: 0 solid #242424;
    border-width: 0 0 0.1rem 0;
}

nav.sidebar li > a:hover {
    box-shadow: inset 0 -0.2rem 0 #1A6396;
}

nav.sidebar li > a:focus {
    background: #D2D0D0;
    outline: none;
}

nav.sidebar li > span {
    color: #737373;
}

nav.sidebar ul ul li a {
    border-left-width: 0.1rem;
}

/* Getting pretty hacky here */

/* Match all elements with no prev sibling */
nav.sidebar > ul > li:first-child > a, nav.sidebar ul + li > a {
    border-top-width: 0.1rem;
}

/* All indentations */
nav.sidebar ul > li:first-child > a {
    border-bottom-width: 0.1rem;
    border-top: none;
}

/* Ugly fucking hack */
nav.sidebar a:last-child {
    border-bottom-width: 0.1rem !important;
}

/* Last element of indentation */
nav.sidebar ul ul li:last-child > a {
    border-bottom-width: 0;
}

.courses {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    clear: both;
    max-width: 90.0rem;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
}

.courses li {
    background: #FFFFFF;
    padding: 0;
    margin: 0 0.5rem 0.5rem 0;
    text-align: center;
    width: 100%;
    border: 0.3rem solid #CFCFCF;
}

.courses a {
    padding: 0;
    display: block;
    text-decoration: none;
    color: #D8D8D8;
    font-size: 2.3rem;
    font-weight: bold;
    height: 100%;
}

.courses li.selected {
    border-color: #A9A9A9;
}

.courses li.selected .name, .courses li.selected .count {
    color: #343434;
}

.courses li.selected .code {
    background: #0A2435;
}

.courses li:hover {
    border-color: #808081;
}

.courses li:hover .name, .courses li:hover .count {
    color: #343434;
}

.courses li:hover .code {
    background: #1E445E;
}

.courses .count {
    font-size: 2.0rem;

    color: #6B6868;
    padding: 0.5rem 0;
}

.courses .count small {
    font-size: 1.5rem;

}

.courses .code {
    color: white;
    background: #2A536E;
    padding: 2.0rem 0;
}

.courses .name {
    padding: 0.5rem 0 1.0rem 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: #444;
}

.error label {
    color: #772B2A;
    font-weight: bold;
}

.error label:hover {
    color: #904B4A;
}

.success label {
    color: #2D662E;
    font-weight: bold;
}

.success label:hover {
    color: #4B904D;

}

form label {
    display: inline;
    cursor: pointer;
}

form label:hover {
    color: #3D3D3D;
}

.question-container {
    padding: 0 1.0rem 2.0rem 0;
}


.question .image {
    display: inline-block;
}

.question .image img {
    border: 0.1rem solid #CACACA;
    border-radius: 0.8rem;
    max-width: 100%;
    height: auto;
}

.question .radio, .question .checkbox {
    padding-left: 2.0rem;
    margin: 1.0rem;
}

.question input[type=radio], .question input[type=checkbox] {
    display: block;
    float: left;
    margin-left: -2.0rem;
}

.reason {
    margin: 1.0rem 0 0 0;
}

button[type=submit] {
    padding: 0.7rem 1.5rem;
    margin: 0;
    background: #14354A;
    color: #E4E4E4;
    font-weight: bold;
    border: 0.1rem solid #494949;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1.7rem;
}

button[type=submit]:hover, button[type=submit]:focus, button[type=submit]:active {
    background: #2A536E;
}

.navigation a:active, button[type=submit]:active {
    box-shadow: inset 0 0.3rem 1.0rem rgba(0, 0, 0, 0.30);
}

.navigation {
    padding-top: 1.0rem;
    display: inline-block;
}

.navigation a {
    float: left;
    padding: 0.8rem 1.2rem 0.7rem 1.2rem;
    margin: 0;
    background: #FFFFFF;
    color: #5A5A5A;
    border: 0.1rem solid #CDC6C6;
    border-width: 0.1rem 0.1rem 0.1rem 0;
}

.navigation a:hover {
    background: #EAEAEA;
    border-color: #989898;
}

.navigation a ~ a:hover {
    border-width: 0.1rem;
    margin-left: -0.1rem;
}

.navigation a:first-of-type {
    border-left-width: 0.1rem;
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}

.navigation a:last-of-type {
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.stats-container {
    padding-bottom: 5.0rem;
}

.stats {
    max-width: 200px;
    padding: 1.5rem;
    background: #FFFFFF;
    border: 0.1rem solid #B3B3B3;
    margin: 2.5rem 0 0 0;
    color: #2A2A2A;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.stats .grade {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3.0rem;
    text-align: center;
    font-weight: bold;
    color: #474747;
}

.stats .reset {
    margin-top: 1.0rem;
}

.stats .reset a {
    color: #474747;
}

.stats .reset a:hover {
    text-decoration: underline;
}

.alerts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.alert {
    display: block;
    min-width: 40.0rem;
    background: #BDBCBC;
    color: #2A2A2A;
    border: 0.1rem solid #B3B3B3;
    border-radius: 0.3rem;
    padding: 1.0rem;
}

/* .alert.info {} */

.alert.error {
    color: #772B2A;
    background: #CAB9B9;
}

.alert.success {
    color: #2D662E;
    background: #B1C0B2;
}

/* heh */
blaze {
    color: darkred;
    animation: blink 1s steps(4, start) infinite;
    -webkit-animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}


/* Courses filter */
#search_courses {
    min-width: 10.0rem;
    width: 60%;
    display: block;
    height: 4.0rem;
    font-size: 1.5rem;
    color: #333;
    border: 0.1rem solid gray;
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    background-color: #fff;
    margin-bottom: 1.0rem;
}


/* Responsive layout, mobile first */
.question-container, .stats-container {
    float: left;
    width: 100%;
}


@media (max-width: 550px) {
    nav.top .user {
        display: none;
    }
}

@media (max-width: 330px) {
    nav.top .logo {
        font-size: 3.0rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}


@media (min-width: 330px) {
  .courses li {
    width: 48%;
  }
}

@media (min-width: 550px) {
  .courses li {
    width: 32%;
  }
}

@media (min-width: 800px) {
  .courses li {
    width: 24%;
  }

  .question-container {
      width: 70%;
  }

  .stats-container {
      width: 30%;
  }

  .stats {
      float: right;
  }
}

.awnser_correct {
    color: red;
  }

.awnser_false {
    color: black;
}

.awnser_margin {
    margin-left: 35px;
}

.question_set_size {
    font-size: 35px
}

.class_padding {
    padding-right: 30px;
    font-weight: bold;
}


