{% extends "base.html" %}

{% block content %}
<form action="{{ request.path }}" method="post" enctype="multipart/form-data">  
    <fieldset>
      <legend><span class="number">1</span>Question</legend>
      <label for="ordinal_number">Qrdinal_number:</label>
      <input type="text" id="ordinal_number" name="ordinal_number">   
      <label for="text">Question:</label>
      <input type="text" id="text" name="question_text">
      <input type="radio" name="useimage" value="1">Image<br>
      <input type="radio" name="useimage" value="0"> None Image <br>
      <br>
      <label for="image">Select image:</label>
      <input type="file" id="image" name="image" accept="image/*">
      <br> <br>
      <input type="radio" name="multiple" value="1"> Multiple Anwser<br>
      <input type="radio" name="multiple" value="0"> Not multiple Anwser
    </fieldset>

    <fieldset>
        <legend><span class="number">2</span>Anwser</legend>
        <label for="text">Anwser:</label>
        <input type="text" id="1" name="text1">
        <input type="radio" name="correct1" value="True"> Correct <br>
        <input type="radio" name="correct1" value="False"> False <br>
        <br>
        <label for="text">Anwser:</label>
        <input type="text" id="2" name="text2">
        <input type="radio" name="correct2" value="True"> Correct <br>
        <input type="radio" name="correct2" value="False"> False <br>
        <br>
        <label for="text">Anwser:</label>
        <input type="text" id="3" name="text3">
        <input type="radio" name="correct3" value="True"> Correct <br>
        <input type="radio" name="correct3" value="False"> False <br>
        <br>
        <label for="text">Anwser:</label>
        <input type="text" id="4" name="text4">
        <input type="radio" name="correct4" value="True"> Correct
        <input type="radio" name="correct4" value="False"> False <br>
    </fieldset>

    {% if error %}
      <span style="color: red">Error: {{ error }}</span><p>
    {% end %}
      
    <button type="submit">Add</button>
    <button onclick="location.href='/home'" type="button">
      Cancel</button>
  </form>

{% end %}