
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Quiz Question</title>
      {% block head %}{% end %}
      <link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}">
      <link href="{{ static_url("css/admin.css") }}" rel="stylesheet" type="text/css">
      <link href="{{ static_url("css/collapse.css") }}" rel="stylesheet" type="text/css">
      <link href="{{ static_url("css/font-awesome.css") }}" rel="stylesheet" type="text/css">
      <link href="{{ static_url("css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
      <link href="{{ static_url("css/form.css") }}" rel="stylesheet" type="text/css">
      <link href="{{ static_url("css/styles.css") }}" rel="stylesheet" type="text/css">
      <link href="{{ static_url("css/question_set_form.css") }}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="{{ static_url("regs_login.css") }}" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href='//fonts.googleapis.com/css?family=Alegreya+SC:700|Roboto:500,700,400' rel='stylesheet' type='text/css'>
      <meta name="theme-color" content="#203949">

  </head>
    <body>
      <nav class="top">
        <div class="container">
         <ul>
          <li class="menu">
            <i class="fa fa-fw fa-navicon"></i>
            <span>Menu</span>
            </li>
            <li class="logo">
              <a href="/home">Quiz Question</a>
            </li>
         </ul>
         <ul class="right">
          <li class="user">
            {% if current_user %}
             <i class="fa fa-fw fa-user"></i>
             {{ current_user['user_name'] }}
             {% end %}
          </li>
         </ul>
      </nav>
      <nav class="sidebar closed">
        <ul>
          {% if current_user %}
          <li><span><i class="fa fa-user fa-fw"></i>&nbsp;  {{ current_user['user_name'] }} </span></li>
          {% end %}
          <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Log out</a></li>
          {% if current_user['role'] == 'admin' %}
          <li>
            <a href="/add_question_set"><i class="fa fa-sign-out fa-fw">Add question set</i>&nbsp;</a>
          </li>
          {% end %}
        </ul>
        <ul>
          {% block menu %}{% end %}
        </ul>
      </nav>
      <div class="container">
        {% block content %}{% end %}
      </div>
        <script type="text/javascript" src="{{ static_url("js/admin.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/ajax.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/alert.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/api.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/collapse.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/filter.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/question_form.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/questions.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/sidebar.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/template.js") }}"></script>
        <script type="text/javascript" src="{{ static_url("js/question_set.js") }}"></script>
    </body>
</html>