{% extends "base.html" %}

{% block content %}
{% if current_user['role'] == 'admin' %}
<a href="/add_question/{{ question_set.id }}"><i class="fa fa-sign-out fa-fw">Add question</i>&nbsp;</a>
<div class="question-container">
    <h2 class="question_set_size">{{ question_set.title }} - {{ question_set.number_of_questions }} <small>Questions</small></h2> 
    <div class="question">
      {% for entry in entries %}
           <h2>Question {{ entry['ordinal_number'] }} : {{ entry['question_title'] }}</h2>
           {% if entry['image'] %}
           <div class="image">
               <img src="{{ static_url("question_image/"+entry['image']) }}">
           </div>
           {% end %}
           <div class="awnser_margin">
           {% for awnser in entry['answer'] %}
              {% if awnser.correct == 'True' %}
              <p class="awnser_correct">{{ awnser.text }}</p>
              {% else %} 
              <p class="awnser_false">{{ awnser.text }}</p>
              {% end %}  
           {% end %}
          </div>
          {% end %}
    </div>
</div>
{% else %}
<div class="question-container">
  <h2 class="question_set_size">{{ question_set.title }} - {{ question_set.number_of_questions }} <small>Questions</small></h2> 
   {% if error %}
      <span style="color: red">Error: {{ error }}</span><p>
    {% end %}
    {% if stat %}
      <p  class="awnser_correct"> {{ stat.score }} scores</p>
    {% else %}
      <p>0 scores</p>
    {% end %}
    <div class="question">
      <form method="post">
           <h2>Question {{ question.ordinal_number }} : {{ question.text }}</h2>
           {% if question.image %}
           <div class="image">
               <img src="{{ static_url("question_image/"+question.image) }}">
           </div>
           {% end %}
           <div class="awnser_margin">
           {% for awnser in answers %}
           {% if question.multiple %}
           <input type="checkbox" name="anwser" value="{{ awnser.id }}"> {{ awnser.text }} <br>
           {% else %}
           <input type="radio" name="anwser" value="{{ awnser.id }}"> {{ awnser.text }} <br>
           {% end %}
           {% end %}
          </div>
          <br>
          <button type="submit">Submit</button>
      </form>
    </div>
    <br>
    <div class='class_padding'>
      {% if question.ordinal_number == 1 %}
      <a href="/{{ question_set.id }}/{{ total }}">Previous</a>
      {% else %}
      <a href="/{{ question_set.id }}/{{ question.ordinal_number-1 }}">Previous</a>
      {% end %}
      {% if question.ordinal_number == total %}
      <a href="/{{ question_set.id }}/1">Next</a>
      {% else %}
      <a href="/{{ question_set.id }}/{{ question.ordinal_number+1 }}">Next</a>
      {% end %}
    </div>
</div>
{% end %}
{% end %}