{% extends "base.html" %}

{% block content %}
<ul class="courses">
    {% for entry in entries %}
    {% if current_user['role'] == 'admin' %}
      <li data-text="{{ entry['title'] }}"> 
        <a href="/detail/{{ entry['id'] }}">
            <div class="code">{{ entry['title'] }}</div>
            <div class="count">{{entry['number_of_questions'] }} <small>Questions</small></div>
        </a>
      </li>
      {% else %}
      <li data-text="{{ entry['title'] }}"> 
        <a href="/{{ entry['id'] }}/1">
            <div class="code">{{ entry['title'] }}</div>
            <div class="count">{{entry['number_of_questions'] }} <small>Questions</small></div>
        </a>
      </li>
      {% end %}
    {% end %}
</ul>
{% end %}