<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ static_url("regs_login.css") }}" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <form action="/login" method="post">
  
    <h1>Login</h1>
    
    <fieldset>
      <legend><span class="number">*</span>Welcome</legend>        
      <label for="mail">Email:</label>
      <input type="email" id="mail" name="email">
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </fieldset>
    {% if error %}
      <span style="color: red">Error: {{ error }}</span><p>
    {% end %}
    <button type="submit">Sign In</button>
    <a href="/register">Not signed up? Register now</a>
  </form>
</body>
</html>