{% extends "base.html" %}

{% block content %}
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><i class="fa fa-sign-out fa-plus">Add question set</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/add_question_set" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="title"><b>Subject</b></label>
      <input type="text" name="title" required>

      <label for="psw"><b>Number of questions</b></label>
      <input type="text" name="number_of_questions" required>
        
      <button type="submit">Add</button>
    </div>

  </form>
</div>
{% end %}