<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{{ static_url("regs_login.css") }}" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <form action="/register" method="post">
  
    <h1>Sign Up</h1>
    
    <fieldset>
      <legend><span class="number">1</span>Your basic info</legend>
      <label for="name">User Name:</label>
      <input type="text" id="name" name="user_name">
      
      <label for="mail">Email:</label>
      <input type="email" id="mail" name="email">
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      {% if error %}
      <span style="color: red">Error: {{ error }}</span><p>
      {% end %}
    <button type="submit">Sign Up</button>

    <a href="/login">Already registered? Log In</a>
  </form>
  
</body>
</html>